<?xml version="1.0" encoding="utf-8"?>
<State xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Size>
    <X>1280</X>
    <Y>800</Y>
  </Size>
  <TopSplitterPosition>0.75</TopSplitterPosition>
  <RightSplitterPosition>0.5</RightSplitterPosition>
  <EditedFile>C:\Users\u1217369\Documents\Cohort9_Team7_Rapid1\StickyHandGame_C9_RP7\StickyHandGame_C9_RP7\Source\UI\menu.ui</EditedFile>
  <LastFolder>C:\Users\u1217369\Documents\Cohort9_Team7_Rapid1\StickyHandGame_C9_RP7\StickyHandGame_C9_RP7\Source\UI</LastFolder>
  <CustomColors>
    <int>16777215</int>
    <int>16777215</int>
    <int>16777215</int>
    <int>16777215</int>
    <int>16777215</int>
    <int>16777215</int>
    <int>16777215</int>
    <int>16777215</int>
    <int>16777215</int>
    <int>16777215</int>
    <int>16777215</int>
    <int>16777215</int>
    <int>16777215</int>
    <int>16777215</int>
    <int>16777215</int>
    <int>16777215</int>
  </CustomColors>
</State>